@charset "UTF-8";

/* Table */
table{
    &.tbl-row-type{
        width: 100%;
        margin-bottom: calc-unit(20px);

        th, td{
            box-sizing: border-box;
            padding-bottom: calc-unit(18px);
            font-size: calc-unit(14px);
            line-height: 1.6;
        }

        th{
            width: 35%;
            padding-right: calc-unit(20px);
            color: #535353;
            text-align: left;
        }

        td{
            width: 65%;
            color: #000;

            &.email{ word-break: break-all; }
        }

        @include min-screen(960px){
            th{width: 25%;}
            td{width: 75%;}
        }
    }
}
//
//@include min-screen(960px){
//    table.tbl-row-type th{width: 25%;}
//    table.tbl-row-type td{width: 75%;}
//}


