@charset "UTF-8";

@import "util/util";
@import "component/component";
@import "layout/layout";

/* CSS Document */
.member_info .desc{margin-bottom: rem(16px); font-size: rem(14px); color: #666;}
.member_info .desc .num{text-decoration: underline;}
.member_info .list > li{padding: rem(20px); border: 1px solid #e0e0e0; border-radius: rem(4px);}
.member_info .list > li + li{margin-top: rem(8px);}
.member_info .list > li .detail{display: none;}
.member_info .list > li.active {
    .brief{display: none;}
    .detail{display: block;}
    .btn-more::after{transform: rotate(180deg);}
}

.notice-list li .txt{ display: flex; flex-wrap: wrap; align-items: center; width: calc(100% - #{rem(20px)});}
.notice-list li .txt p{margin-bottom: rem(3px); font-size: rem(16px);}
.notice-list li .txt .new{display: inline-block; margin: rem(-2px) 0 0 rem(6px); width: rem(14px); height: rem(18px); background: url("../images/common/icon-new.svg") no-repeat center/contain;  vertical-align: middle;}
.notice-list li .txt .date{display: inline-block; width: 100%; @include font('spoqa-light', 14px); color: #666;}

.management-list .tit{display: flex; align-items: center;}
.management-list .tit img{width: rem(32px); height: rem(32px);}
.management-list .tit .txt{margin-left: rem(16px);width: calc(100% - #{rem(68px)});}
.management-list .tit .txt p{margin-bottom: rem(3px); font-size: rem(16px);}
.management-list .tit .txt .date{@include font('spoqa-light', 14px); color: #666;}
.management-list .detail ul{margin: rem(-20px) 0;}
.management-list .detail li{display: flex; align-items: center; padding: rem(16px) 0; border-bottom: 1px solid #eee;}
.management-list .detail li:last-child{border-bottom: none;}
.management-list .detail li p{margin-right: 6%; width: calc(94% - #{rem(55px)}); font-size: rem(14px); color: #535353;}

.certify .brief{display: flex; align-items: center;}
.certify .detail{display: none;}
.certify .detail .chk span{@include font('spoqa-regular', 14px);}
.certify .detail .chk span::before{background-image: url("../images/common/icon-agree-unselect.svg");}
