@charset "UTF-8";

@import "import/utills";
@import "import/component";

/* CSS Document */

/* The switch - the box around the slider */
.switch {position: relative; display: inline-block; width: 3.92rem; height: 1.85rem;}
.switch input {opacity: 0; width: 0; height: 0;}
.slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; padding: .35rem 0 0 2rem; background-color: #dcdcdc; border-radius: .92rem;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {content: ''; position: absolute; height: 1.71rem; width: 1.71rem; left: 1px; bottom: 1px; background-color: #fff; border-radius: 50%;
  box-shadow: 0 .21rem 1px 0 rgba(0, 0, 0, 0.06), 0 .21rem .57rem 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:after{content: 'OFF'; position: absolute; top: .42rem; right: .42rem; color: #fff; font-size: .85rem; text-transform: uppercase; font-family: 'SpoqaHanSansNeo-Regular', sans-serif; line-height: 1.42;
  -webkit-transition: .4s;
  transition: .4s;
}
input:disabled + .slider,
input:checked + .slider {background-color: #24263a;}
input:disabled + .slider:before,
input:checked + .slider:before {
  -webkit-transform: translateX(2.07rem);
  -ms-transform: translateX(2.07rem);
  transform: translateX(2.07rem);
}
input:disabled + .slider:after,
input:checked + .slider:after {content: 'ON';
  -webkit-transform: translateX(-1.64rem);
  -ms-transform: translateX(-1.64rem);
  transform: translateX(-1.64rem);
}
input:disabled + .slider{cursor: default;}
input:disabled + .slider:after{opacity: .3;}

select{
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding-left: 20px;
  border-radius: 2px;
  border: 1px solid #ccc;
  color: #000;
  font-size: 16px;
  font-family: 'SpoqaHanSansNeo-Medium', sans-serif;
  background: url(../images/common/icon-dropdown.svg) calc(100% - 21px) 22px / 12px 7px no-repeat;
}

/* Form Group
********************************************************/
.form-group{color: #191919;}
.form-group li{margin-bottom: 2.8rem; font-family: 'SpoqaHanSansNeo-Medium', sans-serif;}
.form-group li span.tit{display: block;}
.form-group li span.tit em{color: #fb802d;}
.form-group li p{margin:.85rem 0 -3px; font-size: .85rem; color: #666; font-family: 'SpoqaHanSansNeo-Light', sans-serif;}
.form-group li p.check-validate{color: #f05d2b;}
.form-group li .btn-type{height: 2.3rem; font-size: .92rem; font-family: 'SpoqaHanSansNeo-Regular', sans-serif; line-height: 2.3rem;}
.form-group input[type=text],
.form-group input[type=password]{display: block; width: 100%;}
.form-group .id-check{position: relative;}
.form-group .id-check input[type=text]{padding-right: 6.64rem;}
.form-group .id-check .btn-type{position: absolute; top: 1.64rem; right: 0;}
.form-group .birth{float: left; width: calc(50% - .57rem); margin-right: .57rem;}
.form-group .birth.wide{float: auto; width: 100%; margin-right: 0;}
.form-group .gender span{margin-bottom: 1rem;}
.form-group .chk-mobile{clear: both;}
.form-group .chk-mobile ul{display: flex; flex-flow: row nowrap; justify-content: space-between;}
.form-group .chk-mobile li{flex: 1; margin: 16px 0 0 .57rem;}
.form-group .chk-mobile li:first-child{margin-left: 0;}
.form-group .chk-mobile li .btn-type{width: 100%; height: 2.86rem; font-size: 1rem; line-height: 2.86rem;}
.form-group .chk-mobile li .btn-type:hover,
.form-group .chk-mobile li .btn-type:focus,
.form-group .chk-mobile li .btn-type.on{background-color: #383b5a; color: #fff; font-weight:bold;}
/* .form-group .chk-mobile .sub-btn-group{display: none;} */
.form-group .chk-mobile .sub-btn-group li .btn-type{ border-radius: 1.42rem; height: 2.3rem; line-height: 2.3rem; font-size: .92rem;}
.form-group .chk-mobile .sub-btn-group li .btn-type:hover,
.form-group .chk-mobile .sub-btn-group li .btn-type:focus,
.form-group .chk-mobile .sub-btn-group li .btn-type.on{border-color: #fb802d; background-color: #fff; color: #fb802d;}
.form-group .certify-num{position: relative;}
.form-group .certify-num input[type=text]{padding-right: 50%;}
.form-group .certify-num .btn-type{position: absolute; top: 1.64rem; right: 0; width: 4.85rem;}
.form-group .certify-num .timer{position: absolute; top: 2.23rem; left: calc(50% + .71rem); display: inline-block; padding:.14rem 0 0 16px; background: url(../images/common/icon-time@3x.png) 0 0 / 16px no-repeat; color: #fb802d; font-size: .85rem; font-family: 'SpoqaHanSansNeo-Regular', sans-serif;}
.form-group .address{position: relative;}
.form-group .address input[type=text]:first-of-type{padding-right: 6.64rem;}
.form-group .address .btn-type{position: absolute; top: 1.64rem; right: 0;}



/* Layout
********************************************************/
/* #wrap{width:100vw; height:100vh;} */
#wrap{min-width: 320px;}
.contents{padding: 6.28rem 1.71rem 1.71rem;}
hr{clear: both; height:.85rem; margin: 1.71rem -1.71rem 3.92rem; background: #eee;}

/* skipNav */
#skipNav{
  display: none;
  width: 100%;
  background: #e77e23;
  height: 30px;
  left: 0;
  text-align: center;
  padding: .5rem;
  position: absolute;
  transform: translateY(-100%);
  transition: transform .3s;
}
#skipNav a:focus{transform: translateY(0%);}

/* Popup
********************************************************/
#wrap.popup header{justify-content: flex-end;}
#wrap.popup .desc{margin-top: 0;}
.close{width: 1.28rem; height: 16px; margin: 3.78rem 1.71rem 0 0; background: url(../images/common/icon-close.svg)  0 0 / 100% no-repeat;}
@media screen and (min-width:960px){
  #wrap{min-width: 960px; width: 960px; margin: 0 auto;}
}

/* Popup(Layer)
********************************************************/
.dimmed{position:fixed; top:0; right:0; bottom:0; left:0; background: #000; opacity: .7; z-index: 100;}
.lay-popup{width: 100vw; height: 100vh; min-width: 320px; overflow: hidden;}
.lay-contents{position: absolute; top:50%; left:50%; width: calc(100% - 2.84rem); transform: translate(-50%, -50%); box-sizing: border-box; padding: 1.42rem; background: #fff; border-radius: 2px; text-align: center; z-index: 200;}
.lay-contents p{margin: .85rem 0 1.71rem; color: #000; font-size: 16px; line-height: 1.68;}
.lay-contents p strong.id{display: block; margin-top: .85rem; color: #4c4c4c; font-size: 1.57rem; font-weight: bold; line-height: 1.36;}
.lay-contents p small{display: block; margin-top: .57rem; color: #717171; font-size: .85rem; line-height: 1.6;}
.lay-contents .btn-type{background: #eee;}
@media screen and (min-width:960px){
  .lay-contents{width: 362px;}
}

.lay-bottom{position: absolute; bottom: 0; left: 0; width: 100vw; box-sizing: border-box; padding: 1.71rem; border-radius: 10px 10px 0 0; background: #fff; z-index: 200;}
.lay-bottom .close{position: absolute; top: 1.71rem; right: 1.71rem; margin:0}
.lay-bottom .close em{position:absolute;width:1px;height:1px;margin:-1px;overflow:hidden;clip-path:polygon(0 0, 0 0, 0 0);}
.lay-bottom .desc{margin-top: 0; font-size: 1.35rem; font-family: 'OneShinhanBold', sans-serif;}

/* Header GNB
********************************************************/
header{position: fixed; top: 0; left: 0; width: 100vw; height:6.28rem; /* display: flex; flex-flow: row nowrap; justify-content: space-between; */ z-index: 10;}
header h1{width: 5.42rem; height: 1.71rem; margin:3.57rem 0 0 1.71rem; background: url(../images/common/paydays-logo@3x.png)  0 0 / 100% no-repeat;}
header em{position:absolute;width:1px;height:1px;margin:-1px;overflow:hidden;clip-path:polygon(0 0, 0 0, 0 0);}
header a.go-back{position: absolute; left: 0; width: 1.28rem; height: 16px; margin: 3.78rem 0 0 1.71rem; background: url(../images/common/icon-back.svg)  0 0 / 100% no-repeat;}
/* nav{position: absolute; right: 0;} */
header a.close{position: absolute; top: 0; right: 0;}
header a.btn-login{position: absolute; top: 0; right: 0; display: block; width: 4.85rem; height: 2rem; margin: 47px 58px 0 0; text-align: center; border-radius: 1rem; border: 1px solid #ccc; color: #191919; font-size: .92rem; line-height: 2rem;}
nav a.all-menu{position: absolute; top: 0; right: 0; display: block; width: 1.28rem; height: 16px; margin: 3.78rem 1.71rem 0 0; background: url(../images/common/top-icon-menu@3x.png)  0 0 / 100% no-repeat;}
header,
header h1,
header a.go-back,
header a.all-menu,
header a.btn-login,
header a.close,
h2{
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header.scroll{height: 4.28rem; background: #fff; box-shadow: 0 0 20px rgba(0, 0, 0, .05);}
header.scroll h1{margin-top: 1.21rem;}
header.scroll a.close,
header.scroll a.go-back,
header.scroll a.all-menu{margin-top: 1.78rem;}
header.scroll a.btn-login{margin-top: 1.28rem;}
h2.header-tit.scroll{margin-top: 1.57rem;}
@media screen and (min-width:960px){
  header{width: 960px; left: 50%; margin-left: -480px;}
}

/* 전체메뉴(레이어)
********************************************************/
.lay-menu{position:absolute; top: 0; left: 0; width: 100vw; height: 100vh; min-width: 320px; box-sizing: border-box; padding: 0 1.71rem; overflow-x: hidden; background: #fff; z-index: 200;}
.lay-menu .header{display: flex; flex-flow: row nowrap; justify-content: flex-end; align-items: flex-end; height: 6.28rem; box-sizing: border-box; margin: 0 -1.71rem; padding: 0 1.71rem 16px;}
.lay-menu .header a{color: #000; font-size: .85rem; margin-right: 16px;}
.lay-menu .header a.modify{padding-left: 14px; background: url(../images/common/icon-pen.svg)  0 1px no-repeat;}
.lay-menu .header a.logout{padding-left: 14px; background: url(../images/common/icon-logout.svg)  0 0 no-repeat;}
.lay-menu .header a.close{position: inherit; margin: 0; margin-left: 4px;}
.lay-menu .header a.close em{position:absolute;width:1px;height:1px;margin:-1px;overflow:hidden;clip-path:polygon(0 0, 0 0, 0 0);}
.lay-menu .user-info{display: block; margin: -.35rem 0 1.78rem; color: #000; font-size: 1.57rem; font-family: 'OneShinhanLight', sans-serif;}
.lay-menu .user-info em{position: inherit; width: inherit; height: inherit; margin: inherit; clip-path: inherit; font-family: 'OneShinhanMedium', sans-serif;}
.lay-menu .user-info small{display: block; margin-top: .92rem; color: #6e6e6e; font-size: .85rem; font-family: 'SpoqaHanSansNeo-Light', sans-serif;}
.lay-menu .menu-list li{min-height: 2.28rem; margin: .5rem 0 1.42rem; padding-left: 1.92rem; color: #000; font-size: 16px; font-family: 'SpoqaHanSansNeo-Medium', sans-serif; background: url('') 0 0 no-repeat;}
.lay-menu .menu-list li.home{background-image: url(../images/common/icon-home.svg); background-position: 0 -1px;}
.lay-menu .menu-list li.myincome{background-image: url(../images/common/icon-money-paper.svg);}
.lay-menu .menu-list li.prepay{background-image: url(../images/common/icon-point-search.svg);}
.lay-menu .menu-list li.point{background-image: url(../images/common/icon-point-card.svg);}
.lay-menu .menu-list li.credit{background-image: url(../images/common/icon-credit-score.svg);}
.lay-menu .menu-list li.platform{background-image: url(../images/common/icon-platform.svg);}
.lay-menu .menu-list li.custom{background-image: url(../images/common/icon-service.svg);}
.lay-menu .menu-list li.cs{background-image: url(../images/common/icon-cs.svg);}
.lay-menu .menu-list li.mydata{background-image: url(../images/common/icon-lock.svg);}
.lay-menu .menu-list li a{color: #000;}
.lay-menu .menu-list li span.income{display: inline-block; height: 2.28rem; margin: -.57rem 0 0 .85rem; padding: 0 .95rem; border-radius: 16px; vertical-align: middle; background: #fb802d; color: #fff; font-size: 1rem; font-family: 'SpoqaHanSansNeo-Light', sans-serif; line-height: 2.48rem;}
.lay-menu .menu-list li.cs{color: #ff5829;}
.lay-menu .menu-list li.cs ul{margin: 1.85rem 0 .85rem -1.92rem; padding-top: .92rem; border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6;}
.lay-menu .menu-list li.cs li{min-height: auto; margin: .85rem 0 1.71rem; padding-left: 0; background: none; color: #454545; font-size: 1rem; font-family: 'SpoqaHanSansNeo-Regular', sans-serif;}
.lay-menu .menu-list li.cs li a{color: #454545;}
.lay-menu .footer{display: flex; flex-flow: row nowrap; justify-content: flex-end; align-items: flex-start; height: 6.28rem; margin: 45px -1.71rem 0; padding: 0 1.71rem; border-top: .85rem solid #eee; background: url(../images/common/paydays-logo@3x.png)  1.71rem 1.51rem / 5.42rem 1.71rem no-repeat;}
.lay-menu .footer a{margin-top: 1.85rem; color: #717171; font-size: .85rem;}
.lay-menu .footer a:before{content: ''; display: inline-block; width: .14rem; height: 16px; margin: -.1rem 1.28rem 0 1.35rem; vertical-align: middle; background: #dcdcdc;}
.lay-menu .footer a:first-child:before{display: none;}

.lay-menu.user-login .menu-list li.cs{background: url(../images/common/icon-cs-off.svg) 0 0 no-repeat; color: #000;}
.lay-menu.user-login .menu-list li.cs ul{border-bottom-width: 0;}
.lay-menu.user-login .user-info a.lnk-login{display: inline-block; margin-bottom: 1.92rem; padding-right: 13px; background: url(../images/common/icon-go3.svg) 100% 55% no-repeat; font-family: 'OneShinhanBold', sans-serif;}
.lay-menu.user-login .footer{position: fixed; bottom: 0; left: 0; width: 100%; box-sizing: border-box; margin: 0;}

@media screen and (min-width:960px){
  .lay-menu{width: 960px; height: auto; left: 50%; margin-left: -480px;}
  .lay-menu .user-info{width: 50%; margin-top: -50px;}
  .lay-menu .menu-list{height: 240px; display: flex; flex-flow: column wrap; justify-content: flex-start; align-content: space-around;}
  .lay-menu .menu-list li{width: 304px; box-sizing: border-box;}
  .lay-menu .menu-list li:nth-child(9){margin-top: 5px;}
  .lay-menu .menu-list li.cs ul{margin-top: 18px; margin-bottom: 0;}
  .lay-menu .menu-list li.cs li{margin: 4px 0 16px;}
  .lay-menu .footer{margin-top: 10px;}

  .lay-menu.user-login .footer{position: initial; width: auto; margin: 45px -1.71rem 0;}
  .lay-menu.user-login .menu-list{height: auto; flex-direction: row;}
}

/* 컨텐츠 공통
********************************************************/
/* 타이틀/설명 */
h2{position: fixed; top: 0; left: 50%; width: calc(100% - 8.57rem); min-width: 200px; margin: 3.57rem 0 0 calc((100% - 8.57rem)/-2); text-align: center; overflow: hidden; color: #000; font-size: 1.28rem; font-weight: normal; font-family: 'SpoqaHanSansNeo-Medium', sans-serif; z-index: 11;}
h3{margin-bottom: 1.28rem; color: #000; font-size: 1.28rem; /*font-family: 'SpoqaHanSansNeo-Medium', sans-serif;*/}
h4{margin-bottom: 1.28rem; color: #000; font-size: 16px; /*font-family: 'SpoqaHanSansNeo-Medium', sans-serif;*/}
.desc{margin: 1.5rem 0 1.71rem; color:#000; font-size: 1.57rem; /*line-height: 1.4;*/}
.desc small{display: block; margin-top: .57rem; color:#666; font-size: 1rem; letter-spacing: -.6px; line-height: 1.42; font-family: 'SpoqaHanSansNeo-Light', sans-serif;}
.desc a.receipt{position: relative; display: block; float: right; width: 5.35rem; height: 3.5rem; text-align: right; margin-top: -1.75rem; padding-top: 2.14rem; box-sizing: border-box; border-left: 1px solid #eee; color: #191919; font-size: .92rem;}
.desc a.receipt:before{content: ''; display: block; width: 1.42rem; height: 1.42rem; position: absolute; top: .21rem; left: 2.35rem; background: url(../images/common/icon-paper.svg) 100% no-repeat;}
a.more{display: block; margin-top: 2rem; text-align: center; color: #000;}
a.more:after{content: ''; display: inline-block; width: .64rem; height: .35rem; margin: 0 0 .14rem .35rem; vertical-align: middle; background: url(../images/common/icon-more-down.svg) 100% no-repeat;}
span.date{font-size: .85rem;}
span.new{display: inline-block; width: 1rem; height: 1.42rem; margin: -.1rem 0 0 .28rem; vertical-align: middle; overflow: hidden; color: transparent; background: url(../images/common/icon-new.svg) center / 100% no-repeat;}

/* 공지/알림 박스 */
p.notice{margin-bottom: 2.8rem; padding: 1.42rem; border-radius: 10px; background: #f8f8f8; line-height: 1.42;}
p.notice em{display: block; margin-bottom: .57rem; color: #000; font-family: 'SpoqaHanSansNeo-Medium', sans-serif;}
p.t-notice{margin-bottom: 2.85rem; padding-top: 1.42rem; border-top: 1px solid #eee; color: #717171; font-size: .85rem; line-height: 1.42;}
p.total{line-height: 1.57;}
p.total em{text-decoration: underline;}

/* 인디게이터 */
.step-indicator{display: block;margin: 1.78rem 0 0;}
.step-indicator em{display: inline-block;width:.71rem ;height: .71rem;border-radius: 50%;background-color: #d7d7d7;vertical-align: middle;text-indent: -9999px; margin-right: 1.78rem; position: relative;}
.step-indicator em::before{position: absolute;top: 50%;left: -1.4rem;display: block;content: "";width:.85rem ;height: 1px;background-color: #d7d7d7;}
.step-indicator em.on{background: url(../images/common/icon-step-now.svg) no-repeat; width:1.28rem; height: 1.28rem;}
.step-indicator em:first-child::before{display: none;}

/* 배너(혜택)목록 */
/* .banner{margin-top: 4.28rem;} */
.banner.large{position: absolute; bottom: 1.71rem; left: 50%; width: calc(100% - 3.42rem); margin-left: calc((100% - 3.42rem)/-2);}
.banner,
.banner li{display: table; width: 100%;}
.banner li{margin-top: 1.21rem;}
.banner li:first-child{margin-top: 0;}
.banner a{display: table-cell; width: 100%; height: 6.57rem; box-sizing: border-box; padding-left: 1.71rem; border-radius: .57rem; background: #f1f3f5 url('') 100% 0 / auto 100% no-repeat; color: #000; vertical-align: middle;}
.banner a.benefit1{background-image: url(../images/common/img-banner-bike.svg);}
.banner a.benefit2{background-image: url(../images/common/img-banner-money.svg);}
.banner a.benefit3{background-image: url(../images/common/img-banner-pig.svg);}

/* 완료페이지 */
.msg-comfirm p{height: 17.14rem; /*margin-top: -.71rem;*/ padding-bottom: 6.57rem; color:#000; font-size: 1.57rem; line-height: 1.36; text-align: center; background: url('') center 9.5rem no-repeat;}
.msg-comfirm p.ok{background-image: url(../images/common/img-complete-ok.svg);}
.msg-comfirm p.logout{background-image: url(../images/common/img-complete-logout.svg);}
.msg-comfirm p.pw{background-image: url(../images/common/img-complete-pw.svg);}
.msg-comfirm p.withdrawal{background-image: url(../images/common/img-complete-withdrawal.svg);}
/* .msg-comfirm .banner{position: absolute; bottom: 1.71rem; left: 50%; width: calc(100% - 3.42rem); margin-left: calc((100% - 3.42rem)/-2);} */
@media screen and (min-width:960px){
  .msg-comfirm .banner{position: inherit; bottom: auto; left: auto; width: 100%; margin-left: 0; margin-top: 4.28rem;}
}

/* 탭메뉴 */
.tab-list{display: flex; flex-flow: row nowrap; justify-content: flex-start; align-items: flex-start; margin: 1rem 0 1.71rem; border-bottom: 1px solid #eee;}
.tab-list li{margin-right: 1.71rem;}
.tab-list li a{position: relative; display: block; padding-bottom: 10px; color: #6e6e6e; font-family: 'OneShinhanLight', sans-serif;}
.tab-list li.on a{color: #000; font-weight: bold;}
.tab-list li.on a::after{content: ''; position: absolute; bottom: -1px; left: 0; display: block; width: 100%; height: 2px; background: #000;}

.tab-list2:after{content: ''; display: block; clear: both;}
.tab-list2 li{float: left; margin-right: .28rem;}
.tab-list2 li a{display: block; height: 2.85rem; padding: 0 1.21rem; border-radius: 1.42rem; background: #f8f8f8; color: #888; line-height: 2.85rem;}
.tab-list2 li.on a{color: #fff; background: #383b5a;}

.tab-list3{display: flex; flex-wrap: wrap; margin-bottom: 2.28rem; border-top: 1px solid #eee;}
.tab-list3 li{flex: 1 1 25%; border-bottom: 1px solid #eee; border-left: 1px solid #eee; text-align: center;}
.tab-list3 li:nth-child(3n+0){border-right: 1px solid #eee;}
.tab-list3 li a{display: block; height: 2.71rem; color: #6e6e6e; font-family: 'SpoqaHanSansNeo-Light', sans-serif; line-height: 2.71rem;}
.tab-list3 li.on a{position: relative; color: #000; font-family: 'SpoqaHanSansNeo-Medium', sans-serif;}
.tab-list3 li.on a:after{content: ''; display: block; position: absolute; bottom: -1px; left: 0; width: 100%; height: 2px; background: #000;}
@media screen and (min-width:960px){
  .tab-list3 li{flex-basis: 0;}
  .tab-list3 li:nth-child(3n+0){border-right-width: 0;}
  .tab-list3 li:last-child{border-right: 1px solid #eee;}
}

/* 탭메뉴 스크롤 컨테이너 */
.tab-scroll{height: 40px; margin: 1.71rem -1.71rem 1.71rem 0; overflow: hidden;}


/* 00.메인
********************************************************/
/* PD-020100,PD-020200,PD-020300,PD-020400  */
section.main h2{position: inherit; left: auto; width: inherit; margin: inherit; text-align: left; padding: 1.64rem 0 1.92rem; font-size: 1.57rem; font-family: 'OneShinhanMedium', sans-serif;}
section.main .tab-list{margin-left: -1.71rem; margin-right: -1.71rem; padding: 0 1.71rem;}
section.main span.date{float: right; margin-top: -3.57rem;}
section.account{clear: both;}
section.account .container{padding: 1.71rem; border-radius: 1.07rem; color: #fff; box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .12);}
section.account h4{display: inline-block; margin-bottom: 1.78rem; padding-right: .85rem; background: url(../images/common/icon-arrow.svg) 100% 3px no-repeat; color: #fff; font-weight: normal; font-size: 1.07rem;}
section.account span.price{display: block; margin-bottom: 1.21rem; padding-bottom: 1.71rem; text-align: right;}
section.account span.price strong{display: block; margin-bottom: .5rem; font-size: 2.14rem; font-weight: normal; font-family: 'SpoqaHanSansNeo-Medium', sans-serif;}
section.account span.price small{padding-left: 1.07rem; font-size: .85rem; font-family: 'SpoqaHanSansNeo-Regular', sans-serif;}
section.account span.price small.increase{background: url(../images/common/icon-increase.svg) 0 2px no-repeat;}
section.account span.price small.decrease{background: url(../images/common/icon-decrease.svg) 0 2px no-repeat;}
section.account li{padding-top: .64rem;}
section.account li::after{content: ''; display: block; clear: both;}
section.account li img{width: 1.42rem; height: 1.42rem; margin-right: 0.57rem; margin-top: -.14rem; vertical-align: middle;}
section.account li em{float: right;}
section.account span.txt-link{display: flex; flex-flow: row nowrap; justify-content: center; padding: 1.71rem 0;}
section.account span.txt-link a{flex: 1 1 0; text-align: center; color: #494f60;}
section.account a:before{content: ''; display: inline-block; width: 1.42rem;; height: 1.42rem;; margin-right: .35rem; vertical-align: middle;}
section.account a.monthly:before{margin-top: -.21rem; background: url(../images/common/icon-monthly.svg) no-repeat;}
section.account a.platform{border-left: 2px solid #e3e3e6;}
section.account a.platform:before{margin-top: -.21rem; background: url(../images/common/icon-platform.svg) no-repeat;}
section.account a.go-point{display: block; height: 3.42rem; border-radius: .57rem; text-align: center; background: #eff0f5; color: #494f60; line-height: 3.42rem;}
section.account a.go-point:before{margin-top: -.14rem; background: url(../images/common/icon-point-card.svg) no-repeat;}
section.account a.go-evt{display: block; padding: 2.42rem 0; text-align: center; color: #000;}
section.account a.go-evt:before{display: none;}
section.account a.go-evt:after{content: ''; display: inline-block; width: .35rem; height: .71rem; vertical-align: middle; margin: -.14rem 0 0 .78rem; background: url(../images/common/icon-go2.svg) no-repeat;}
section.account a.go-evt em{position: relative; display: inline-block; font-weight: bold;}
section.account a.go-evt em:before{content: ''; display: block; width: 100%; height: .57rem; position: absolute; bottom: 0; left: 0; background: #fbdac4; z-index: -1;}
section.account .link-container{height: 3.42rem; padding-top: 16px; box-sizing: border-box; border-radius: .57rem; background: #eff0f5;}
section.account .link-container span.txt-link{padding: 0;}
section.account.total .container{margin-bottom: 1.71rem; background: #ff832e;}
section.account.total .container span.price{border-bottom: 1px solid #ffab72;}
section.account.prepay .container{background: #383b5a;}
section.account.prepay .container span.price{border-bottom: 1px solid #51536a;}
section.credit-score a{display: block; height: 1.78rem; margin-top: -1.42rem; background: url(../images/common/icon-filled-credit-score.svg) 100% 0 no-repeat; color: #000; font-size: 16px; line-height: 1.78rem;}
section.platform{padding-bottom: 2.71rem;}
section.platform ul{display: flex; flex-flow: row wrap; justify-content: flex-start; align-items: flex-start; margin: 2rem -1.07rem -2rem;}
section.platform li{width: 6rem; text-align: center; margin: 0 1.07rem 2rem;}
section.platform li img{display: block; width: 4.57rem; margin: 0 auto .78rem;}
section.platform li a{display: block; color: #454545;}
section.notice{padding-bottom: 1.64rem;}
section.notice li a{position: relative; display: block; height: 2.14rem; color: #454545; line-height: 2.14rem; padding-right: 6rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
section.notice li a:after{content: ''; display: block; clear: both;}
section.notice li a em{position: absolute; top: 0; right: 0;}
section.finance-benefit{padding-bottom: 2.57rem;}
section.finance-benefit .tab-scroll{margin-top: 0;}
section.non-members-apply{margin: 0 -1.71rem -36px;}
section.non-members-apply .desc{margin: 2.92rem 0; padding: 0 1.71rem;}
section.non-members-apply .inform-guide{padding: 2.57rem 1.71rem 4.28rem; background: #eee;}
section.non-members-apply .inform-guide p{margin: 0 -1.71rem; padding: 0 1.71rem 225px; background-position: center 63px; background-size: 340px; background-repeat: no-repeat; color: #000; font-size: 1.28rem; line-height: 2.14rem; font-family: 'SpoqaHanSansNeo-Medium',sans-serif;}
section.non-members-apply .inform-guide p.total{background-image: url(../images/common/img-intro-total@3x.png);}
section.non-members-apply .inform-guide p.prepay{background-image: url(../images/common/img-intro-prepay2@3x.png);}
section.non-members-apply .inform-guide p em{text-decoration: underline;}
section.non-members-apply .inform-guide small{display: block; margin-top: 1rem; text-align: center; font-size: .85rem; font-family: 'SpoqaHanSansNeo-Light', sans-serif;}
section.non-members-apply a.more{margin-bottom: 29px;}
section.non-members-apply a.more::after{width: 7px; height: 12px; background-image: url(../images/common/icon-go2.svg);}
section.non-members-apply a.more em{position: relative; display: inline-block; font-weight: bold; z-index: 1;}
section.non-members-apply a.more em:before{content: ''; display: block; width: 100%; height: .57rem; position: absolute; bottom: 0; left: 0; z-index: -1;}
section.non-members-apply a.btn-type2{border-radius: 8px; font-size: 1rem;}
section.non-members-apply a.btn-type2:before{content: ''; display: inline-block; vertical-align: middle; width: 20px; height: 20px; margin: -2px 9px 0 0;}
section.non-members-apply.total a.btn-type2{background: #ff832e;}
section.non-members-apply.total a.btn-type2:before{background: url(../images/common/icon-graph.svg) no-repeat;}
section.non-members-apply.total a.more em:before{background: #fbdac4;}
section.non-members-apply.prepay a.btn-type2{background: #383b5a;}
section.non-members-apply.prepay a.more em:before{background: #d4d6ea;}
section.non-members-apply.prepay a.btn-type2:before{background: url(../images/common/icon-card.svg) no-repeat;}
@media screen and (min-width:960px){
  section.platform ul{margin: 2rem -1.71rem -2rem;}
  section.platform li{margin: 0 .78rem 2rem;}
}

/* 01.로그인
********************************************************/
/* PD-000000 */
.login h2{position: relative; left: 0; width: auto; margin: 2.71rem 0 40px 0; color:#000; font-size: 1.57rem; line-height: 1.3; text-align: left; z-index: 1;}
.login .text-link{display: flex; justify-content: center; margin-top: 2.28rem;}
.login .text-link li + li{margin-left: 2.14rem;}
.login .text-link li a{color: #222; text-decoration: underline;}
@media screen and (min-width:960px){
  .login h2{width: 360px; margin-left: auto; margin-right: auto;}
  .login .form-group{width: 360px; margin: 0 auto;}
}

/* Footer(Login) */
footer.login{height:6.42rem; margin-top: 5.71rem; background:#f8f8f8;}
footer.login.large{position: absolute; bottom: 0; width: 100%; margin-top: 0;}
footer.login ul{height:100%; padding:0 4.14rem; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center;}
footer.login ul li{flex: 1; text-align: center;}
footer.login a{color: #717171; font-size: .85rem;}
@media screen and (min-width:960px){
  footer.login.large{position: relative; width: 912px; margin: 35px 24px 0;}
  footer.login ul{justify-content: space-around; padding: 0 250px;}
}

/* PD-000100_p
.id-find p{margin-bottom: .85rem }
.id-find span{color: #000; font-size: 1.57rem; line-height: 1.36; font-family: 'SpoqaHanSansNeo-Medium', sans-serif;}
.id-find .btn-single{margin-top: 1.71rem;} */

/* 02.회원가입
********************************************************/
/* PD-010100 */
.apply-area h3{display: block; font-size: 16px;}
.materials-box{margin-bottom: 4.14rem;}
.materials-box li{border-radius: .71rem;padding: 1.42rem;background-color: #f8f8f8;}
.materials-box li:first-child{padding: 1.78rem 1.42rem 0.57rem;}
.materials-box li p{position: relative;line-height: 1.42rem;letter-spacing: .042rem;color: #666;padding-left: 1.07rem;}
.materials-box li:first-child p{padding-bottom: 1.42rem;}
.materials-box li p em{position: absolute;left:0;}
.materials-box li p strong{color: #000;}
.materials-box li:last-child{margin-top: .85rem;}
.materials-box li a{display: block;height: 4.28rem;line-height: 4.28rem;position: relative;border-top: 1px solid #eee; padding-left: 2.64rem;}
.materials-box li .checkcard{background: url(../images/common/icon-filled-check-card.svg) no-repeat .42rem 50%;}
.materials-box li .creditcard{background: url(../images/common/icon-filled-credit-card.svg) no-repeat .42rem 50%;}
.materials-box li a::after{display: block;content: "";background: url(../images/common/icon-go.svg) no-repeat 0% 0% ;width: .5rem;height: .85rem; position: absolute;top: 50%;transform: translateY(-50%);right: 0;}

/* PD-010101 */
.card-apply-box a{display: block;height: 4.71rem;line-height: 4.71rem;border-bottom: 1px solid #eee;padding: 0 2.71rem;display: block;font-size: 16px;position: relative;}
.card-apply-box a::after{display: block;content: ""; background: url(../images/common/icon-go.svg) no-repeat 100% 0%;position: absolute; top: 50%; right: 0.42rem; width: 0.5rem;height:0.85rem ;transform: translateY(-50%);}
.card-apply-box .checkcard{background: url(../images/common/icon-filled-check-card.svg)no-repeat .28rem 50% / 1.57rem;}
.card-apply-box .creditcard{background: url(../images/common/icon-filled-credit-card.svg)no-repeat .28rem 50% / 1.57rem;}

/* PD-010100_2 */
.apply-area.total .desc{padding-bottom: 28rem; background: url(../images/common/img-bike.svg) no-repeat 100%  13.97rem;}

/* PD-010102 */
.business-info-box{border: 1px solid #e0e0e0; border-radius:0.28rem;padding:1.42rem 1.42rem 0; margin-bottom: 0.57rem;}
.business-info-box>table{margin-bottom: 0;}
.business-info-box .details table{margin-bottom:0.57rem ;}
.business-info-box .details .btn-group .btn-type{background-color: #eee;}
.business-info-box .details .btn-group a{border-radius: 0.28rem; font-size: 1rem;}
.business-info-box .toggle-btn{color:#c9c9c9; font-size:0.85rem; text-align: center; position: relative; margin-bottom: 1.35rem;}
.business-info-box .toggle-btn::after{content: ""; display: inline-block; width: .64rem; height:.35rem; background: url(../images/common/icon-more-down2.svg) no-repeat; vertical-align: middle; margin-left: .57rem;}
.business-info-box .toggle-btn.fold{margin-bottom: 0; padding: 2rem 0;}
.business-info-box .toggle-btn.fold::after{transform: rotate(180deg);}

/* PD-010300, PD-010300_2 */
.business-info-area .form-group .business-item{margin-bottom: 4.07rem;}
.business-info-area .form-group li .info-message{color: #666666;display: block;}
.business-info-area hr{margin: 1.2rem -1.71rem 4rem;}
.business-info-area .form-group:last-child ul{margin-top: .93rem;}
/* .business-info-area .business-btn{display: block;text-align: left;font-family:'SpoqaHanSansNeo-Medium';font-size: 16px;line-height: 1.92rem;color: #000;padding-bottom: 1.28rem;border-bottom: 1px solid #ccc;position: relative; margin: 0 -1.71rem 1.28rem; }
.business-info-area .business-btn span{padding:0 1.71rem; display: block;}
.business-info-area .business-btn span::after{display: block;content: "";background: url(../images/common/icon-toggle-down.svg) no-repeat 100% 0%;position: absolute;top: .73rem;right: 1.71rem;width: .85rem;height:.5rem ;}
.business-info-area .business-btn.active span::after{transform: rotate(180deg);}
.business-info-area .business-btn+.form-group{display: none;} */

/* PD-010301, PD-010302 */
.lay-bottom .table{margin: 0 -1.71rem; padding: 0 1.71rem;}
.lay-bottom .tbl-row-type{margin-bottom: -1.35rem;}
.lay-bottom .popup-close{margin-top: 2.85rem;}
.lay-bottom .desc span{display: block; margin: .78rem 0 1.42rem; color: #666; font-size: 1rem; font-family: 'SpoqaHanSansNeo-Light', sans-serif;}
.lay-bottom .check{overflow-y: auto; height: auto; margin: 0 -1.71rem; padding: 0 1.71rem;}
.lay-bottom .all-check::after{content: ''; display: block; width: 100%; height: .07rem; margin: 1rem 0; background: #eee;}
.lay-bottom .check-list li{display: flex; flex-wrap: wrap; align-items: center;}
.lay-bottom .check-list li + li{margin-top: 1.85rem;}
.lay-bottom .check-list li a{display: inline-block; width: .42rem; height: .64rem; margin-left: auto; background: url('../images/common/icon-go2.svg') no-repeat center/cover;}
.lay-bottom .check-list li p{width: 100%; margin-top: 16px; padding: 16px 1.42rem; background: #f2f2f2; line-height: 1.5;}
@media screen and (max-height:680px){
  .lay-bottom .scroll{overflow: hidden scroll; max-height: 18.57rem;}
}

/* PD-010303, PD-010304, PD-010305 */
.terms h3{margin-top: 1rem; font-size: 16px;}
.terms dl{color: #000; line-height: 1.42;}
.terms dt{margin-bottom: .35rem; font-family: 'SpoqaHanSansNeo-Medium', sans-serif;}
.terms dd{margin-bottom: 1.21rem; font-family: 'SpoqaHanSansNeo-Light', sans-serif;}
.terms dd:last-of-type{margin-bottom: 2rem;}
.terms li{margin-bottom: .35rem; padding-left: 1.21rem; text-indent: -1.21rem;}

/* 03.나의소득
********************************************************/
/* PD-030100, PD-030200, PD-040100, PD-040200 */
.income{margin: 0 -1.71rem 4rem;}
.income .total{position: relative;}
.income .arr a{position: absolute; top: 50%; transform: translate(0, -50%); display: inline-block; width: 2.42rem; height: 2.42rem;}
.income .arr a.disabled{opacity: 0.2;}
.income .arr a.prev{left: 0; background: url(../images/common/icon-arrow-prev.svg) 0 0 no-repeat;}
.income .arr a.next{right: 0; background: url(../images/common/icon-arrow-next.svg) 0 0 no-repeat;}
.income .container{margin: 0 1.71rem; padding: 1.71rem; border-radius: 1.07rem; color: #000; box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .12);}
.income h4{display: inline-block; margin-bottom: 1.78rem; font-size: 1.07rem;}

/* PD-030100, PD-040100 */
.monthly span.tag{float: right; margin-top: -0.57rem; padding: 0.57rem 0.85rem; font-size: 0.85rem; background-color: #eff0f5; border-radius: 15px;}
.monthly span.price{display: block; text-align: right;}
.monthly span.price strong{display: block; margin-bottom: .5rem; font-size: 1.5rem; font-weight: normal; font-family: 'SpoqaHanSansNeo-Medium', sans-serif;}
.monthly span.price small{padding-left: 1.07rem; color: #454545; font-size: .85rem; font-family: 'SpoqaHanSansNeo-Light', sans-serif;}
.monthly span.price small.increase{background: url(../images/common/icon-increase2.svg) 0 2px / 12px 12px no-repeat}
.monthly span.price small.decrease{background: url(../images/common/icon-decrease2.svg) 0 2px / 12px 12px no-repeat}
/* .monthly span.price small:before{content: ''; display: inline-block; margin-right: 4px; vertical-align: middle;}
.monthly span.price small.increase::before{width: 8px; height: 14px; margin-bottom: -6px; clip-path: polygon(50% 0, 100% 50%, 0 50%); background: #ff7070;}
.monthly span.price small.decrease::before{width: 8px; height: 8px; clip-path: polygon(0% 0%, 50% 100%, 100% 0); background: #5b7bea;}
.monthly span.price small:before{display: inline-block; vertical-align: middle; margin: 0 4px 6px 0;}
.monthly span.price small.increase:before{content: '▲'; color: #ff7070;}
.monthly span.price small.decrease:before{content: '▼'; color: #5b7bea;} */
.monthly .cumulative{padding: 2.85rem 1.71rem 0; text-align: right;}
.monthly .cumulative h4{display: flex; align-items: center;}
.monthly .cumulative h4::before{content: ''; display: inline-block; width: 1.71rem; height: 1.71rem; margin-right: 0.57rem; background: url(../images/common/icon-filled-money.svg) 0 50% no-repeat;}
.monthly .cumulative strong{color: #000; font-size: 1.28rem;}
.income-trend .graph{margin: 2.28rem 0 2.85rem;}
.income-trend .graph img{width: 100%;}
.income-trend .list .list-item{margin-top: 1.42rem;}
.income-trend .list ul{margin-top: 1.21rem; padding-bottom: 1.42rem; border-bottom: 1px solid #eee;}
.income-trend .list li{display: flex; flex-wrap: wrap; align-items: center; color: #000; font-size: 16px; text-align: right;}
.income-trend .list li + li{margin-top: 1.42rem;}
.income-trend .list img{width: 1.42rem; margin-right: 0.57rem;}
.income-trend .list strong{margin-left: auto; font-family: 'SpoqaHanSansNeo-Bold', sans-serif;}
.income-trend .list small{width: 100%; margin-top: 0.57rem; color: #454545; font-size: 0.85rem; font-family: 'SpoqaHanSansNeo-Light', sans-serif;}

/* PD-030200, PD-040200 */
.platform-history .graph img{width: 100%; margin-bottom: 1.21rem;}
.platform-history .list-item li{display: flex; flex-wrap: wrap; align-items: center; color: #000; font-size: 1rem; text-align: right;}
.platform-history .list-item li::before{content: ''; display: inline-block; width: 0.57rem; height: 0.57rem; margin-right: 0.57rem; background: #ff9853; border-radius: 50%;}
.platform-history .list-item li + li{margin-top: 0.85rem;}
.platform-history .list-item img{width: 1.42rem; margin-right: 0.57rem;}
.platform-history .list-item strong{margin-left: auto;}
.platform-detail .total{display: flex; align-items: center; padding: 1.64rem 0; border-bottom: 1px solid #eee;}
.platform-detail .total h4{display: flex; align-items: center; margin-bottom: 0;}
.platform-detail .total h4::before{content: ''; display: inline-block; width: 1.71rem; height: 1.71rem; margin-right: 0.57rem; background: url(../images/common/icon-filled-money.svg) 0 50% no-repeat;}
.platform-detail .total strong{margin-left: auto; color: #000; font-size: 16px;}
.platform-detail .list-item li{display: flex; flex-wrap: wrap; align-items: center; padding: 1.71rem 0 1.42rem; color: #000; font-size: 16px; text-align: right; border-bottom: 1px solid #eee;}
.platform-detail .list-item strong{margin-left: auto; font-family: 'SpoqaHanSansNeo-Bold', sans-serif;}
.platform-detail .list-item small{width: 100%; margin-top: 0.57rem; color: #454545; font-size: 0.85rem; font-family: 'SpoqaHanSansNeo-Light', sans-serif;}


/* 04.선정산 내역
********************************************************/

/* 05.신용조회
********************************************************/
/* PD-050100 */
.credit .desc{margin-bottom: 35px; background: url(../images/common/img-credit.svg) calc(100% - 24px) 170px / 204px auto no-repeat;}
.credit .desc small.notice{margin-top: 343px; padding-top: 20px; border-top: 1px solid #eee; color: #717171; font-size: .85rem; line-height: 1.6;}
@media screen and (max-height:640px){
  .credit .desc{margin-bottom: revert; background-position-y: 137px;}
  .credit .desc small.notice{margin-top: 267px; padding-top: 10px;}
}

/* 06.플랫폼관리
********************************************************/
/* PD-060100 */
.complete-bye-btn{font-size: 0.92rem; height: 2.28rem; line-height: 2.28rem; padding: 0 1rem 0 1.71rem; border: 1px solid #ccc; background: url(../../../assets/images/common/icon-flat-del.svg) no-repeat 1rem 53%; border-radius: 0.142rem; position: absolute; right: 0; top: 50%; transform: translateY(-50%);}

/* PD-060101 */
section.platform-connection{padding-top: 2.28rem; }
section.platform .connected{position: relative; }
section.platform .connected::after{display: block; content: "연결됨";position: absolute;top: 0;left: 50%;background-color: rgba(0,0,0,.8);width: 4.57rem;height: 4.57rem;transform: translateX(-50%);color: #fff;font-size: 0.92rem;line-height: 4.57rem;text-align: center;border-radius: 1.71rem;}

/* PD-060201 */
.lay-popup .scroll small{display: block; font-size: .85rem; color: #717171; margin-bottom: 2.78rem;}
.btn-group.complete-bye .btn-type{background-color: #eee;}

/* PD-060202 */
.msg-comfirm p.complete-bye{background-image: url(../../../assets/images/common/img-complete-bye.svg);}
.msg-comfirm .complete-bye-platform{background-color: #f8f8f8; display: flex; flex-direction: row; justify-content: space-around; align-items: center; padding: 1.42rem 0; border-radius: 0.71rem; margin-bottom: 1.42rem;}
.msg-comfirm .complete-bye-platform li{flex-basis: 50%; padding: 0 1.42rem; text-align: center;}
.msg-comfirm .complete-bye-platform li em{display: block; color: #666; margin-bottom: 0.57rem;}
.msg-comfirm .complete-bye-platform li span{font-family: SpoqaHanSansNeo-Medium; display: block; color: #000; font-size: 1.28rem; }
.msg-comfirm .complete-bye-platform li:first-child{border-right: 1px solid #ccc ;  }
.banner.complete-bye-banner{position: inherit; bottom: 0; left: 0; width: 100%; margin:3.57rem 0 0;}

/* 07.맞춤금융서비스
********************************************************/

/* 08.고객센터
********************************************************/
/* PD-080200 */
.notice-list .list{margin: 0 -1.71rem;}
.notice-list li dt{position: relative; padding: 1.28rem 1.71rem; border-bottom: .07rem solid #eee; cursor: pointer;}
.notice-list li dt::after{content: ''; position: absolute; top: 50%; right: 1.71rem; transform: translate(0, -50%); width: .85rem; height: .5rem; background: url('../images/common/icon-toggle-down.svg') no-repeat center/cover;}
.notice-list li dt.active::after{transform: translate(0, -50%) rotate(180deg);}
.notice-list li dt span{font-family: 'SpoqaHanSansNeo-Light', sans-serif;}
.notice-list li dt .tit{position: relative; margin-bottom: .57rem; color: #000; font-size: 16px;}
/* .notice-list li dt .new{position: absolute; display: inline-block; width: 1.07rem; height: 1.28rem; margin-left: .42rem; font-size: 0; background: url('../images/common/icon-new.svg') no-repeat center/cover;} */
.notice-list li .detail{padding: 2.28rem 1.71rem; border-bottom: .07rem solid #eee; background-color: #f8f8f8; line-height: 1.4;}
.notice-list li .detail strong{color: #000;}

/* PD-080602 */
.platform-list{margin-bottom: 2.28rem;}
.platform-list li{display: flex; flex-wrap: wrap; align-items: center; padding: 1.71rem 0; border-bottom: 1px solid #eee; position: relative;}
.platform-list img{width: 2.28rem; height: 2.28rem; margin-right: 16px;}
.platform-list p span{display: block; margin-bottom: 0.28rem; color: #000; font-size: 16px; width: 14.42rem;}
.platform-list p small{font-family: 'SpoqaHanSansNeo-Light', sans-serif; display: block; width: 14.42rem;}

/* PD-080401 */
.member .modify .container{margin: 1rem 0 2.71rem; padding: 1.71rem; border-radius: 1.07rem; background-color: #fff; box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);}
.member .modify .container img{width: 3.42rem; height: 3.42rem;}
.member .modify .container .txt{display: inline-block; margin-left: 0.85rem;}
.member .modify .container .txt span{display: block; margin-bottom: 0.28rem; color: #000; font-size: 1.57rem;}
.member .modify .container .txt small{color: #6e6e6e; font-size: 0.85rem;}
.member .modify .text-link{display: flex; justify-content: right; margin-top: 0.28rem;}
.member .modify .text-link li + li{margin-left: 1.64rem;}
.member .modify .text-link li a{color: #222; font-size: 0.85rem; text-decoration: underline;}
.member .info .list{margin-top: 16px;}
.member .info .list > li{padding: 2.14rem 1.42rem 1.42rem; border: 0.07rem solid #e0e0e0; border-radius: 0.28rem;}
.member .info .list > li + li{margin-top: 0.57rem;}
.member .info .list > li:last-child{margin-bottom: 3.35rem;}
.member .info .list .detail .form-group li:last-child{margin-bottom: 1.42rem;}
.member .info .list .brief table.tbl-row-type{margin-bottom: 0;}
.member .info .list .toggle-btn{color: #c9c9c9; font-size: 0.85rem; text-align: center;}
.member .info .list .toggle-btn::after{content: ''; display: inline-block; width: 0.64rem; height: 0.35rem; margin-left: .57rem; vertical-align: middle; background: url(../images/common/icon-more-down2.svg) no-repeat;}
.member .info .list .toggle-btn.fold::after{transform: rotate(180deg);}

/* 09.데이터 이용내역 관리
********************************************************/
/* PD-090100 */
.pers-manage-list{margin: 0 -1.71rem;}
.pers-manage-list li{border-bottom: 1px solid #eee;}
.pers-manage-list li a{position: relative; display: block; padding: 1.71rem 4rem 1.71rem 1.71rem; color: #666; line-height: 1.57;}
.pers-manage-list li a:after{content: ''; display: block; width: .85rem; height: .5rem; position: absolute; top: 2.85rem; right: 2rem; background: url(../images/common/icon-dropdown.svg) 100% no-repeat;}
.pers-manage-list li img{float: left; width: 2.28rem; margin: .42rem 16px 0 0;}
.pers-manage-list li strong{display: block; margin-bottom: 3px; color: #000; font-size: 16px; font-weight: normal; line-height: 1.37;}
.pers-manage-list li span.date{font-size: 1rem; font-family: 'SpoqaHanSansNeo-Light', sans-serif;}
.pers-manage-list li:after{content: ''; display: block; clear: both;}
.pers-manage-list li.on a:after{transform: rotate(180deg);}
.pers-manage-list li .sub-agree-cons{background: #f8f8f8; padding: .71rem 1.71rem; border-top: 1px solid #eee;}
.pers-manage-list li .sub-agree-cons li{padding: 1rem 0; border-bottom-width: 0; border-top: 1px solid #eee;}
.pers-manage-list li .sub-agree-cons li:first-child{border-top-width: 0;}
.pers-manage-list li .sub-agree-cons li p{float: left; width: 75%; padding-top: .35rem;}
.pers-manage-list li .sub-agree-cons li .switch{float: right;}

/* PD-090200 */
.filter-area{margin: 0 -1.71rem; padding-bottom: .42rem;}
.filter-area:after{content: ''; display: block; clear: both;}
.filter-area p.total{float: left; margin: 1rem 0 0 1.71rem;}
.filter-area a.filter,
.filter-area a.close{float: right; display: block; width: auto; height: 1.28rem; margin: 1.17rem 1.71rem 0 0; border-left: 1px solid #eee; font-size: .92rem; line-height: 1.28rem; background: none;}
.filter-area a.filter:before,
.filter-area a.close:before{content: ''; display: inline-block; width: 1.28rem; height: 1.28rem; margin: 0 .28rem; vertical-align: middle;}
.filter-area a.filter:before{background: url(../images/common/icon-filter.svg) 100% no-repeat;}
.filter-area a.close:before{background: url(../images/common/icon-filter-close.svg) 100% no-repeat;}
.filter-area .form-group{clear: both; margin-bottom: 1.42rem; padding: 2.64rem 1.71rem 0; border-top: 1px solid #eee; background: #f8f8f8;}
.filter-area .form-group span.tit{font-size: .92rem;}
.filter-area input[type=text]{border-bottom-color: #eee;}
.filter-area select{border-width: 0; border-bottom: 1px solid #eee; padding-left: 0; background-position-x: 100%;}
.filter-area span.btn-group{margin-top: 10px;}
.filter-area span.btn-group a{height: 2.85rem; font-size: 1rem; line-height: 2.85rem;}
.filter-area span.btn-group a:focus{color: #fff; border-color: #383b5a; background: #383b5a;}

.period span.date-start,
.period span.date-end{display: inline-block; width: calc(50% - 14px); vertical-align: middle; position: relative;}
.period span button.calendar{position: absolute; top: calc(50% - 10px); right: 0; width: 20px; height: 20px; color: transparent; background: url(../images/common/icon-calendar.svg) no-repeat;}
.period em{display: inline-block; width: 20px; vertical-align: middle; text-align: center;}

.receipt-list{margin: 0 -1.71rem;}
.receipt-list li{padding: 1.71rem; border-bottom: 1px solid #eee;}
.receipt-list li a{display: block; color: #000; font-size: 16px; line-height: 1.37;}
.receipt-list li span.date{display: block; margin-top: .28rem; color: #666; font-size: 1rem; font-family: 'SpoqaHanSansNeo-Light', sans-serif; line-height: 1.57;}

/* PD-090201, PD-090202, PD-090203 */
.receipt h2{position: inherit; width: auto; margin: 16px 0 2.35rem; text-align: left; font-size: 1.57rem; transition: inherit;}
.receipt h2 small{display: block; margin-top: .78rem; color: #666; font-size: 1rem; font-family: 'SpoqaHanSansNeo-Light', sans-serif;}
.receipt .tbl-row-type{border-radius: 4px; border-style: hidden; box-shadow: 0 0 0 1px #e0e0e0;}
.receipt .tbl-row-type th,
.receipt .tbl-row-type td{padding-bottom: .71rem;}
.receipt .tbl-row-type th{padding-left: 1.42rem;}
.receipt .tbl-row-type td{padding-right: 1.42rem;}
.receipt .tbl-row-type td li{padding-left: .78rem; text-indent: -.78rem;}
.receipt .tbl-row-type tr:first-child th,
.receipt .tbl-row-type tr:first-child td{padding-top: 1.57rem;}
.receipt .tbl-row-type tr:last-child th,
.receipt .tbl-row-type tr:last-child td{padding-bottom: 1.42rem;}

/* 10.플랫폼사 랜딩/안내
********************************************************/
/* PD-100100, PD-100101, PD-100200, PD-100201 */
#wrap.landing header{background: #eee;} /*랜딩페이지 헤더 배경색*/
.landing .desc{margin-top: 3.14rem; text-align: center; font-size: 1.57rem; font-family: 'OneShinhanBold', sans-serif; line-height: 2.5rem;}
.landing .desc strong{display: inline-block; margin: -5px 4px 0; padding: 0 .85rem; vertical-align: middle; border-radius: 1.28rem; background: #fff; color: #ff5829;}
.landing .desc small{margin-top: 1.75rem; line-height: 1.7; letter-spacing: -.04rem;}
.landing .desc small em{color: #717171; font-size: .85rem;}
.landing .btn-type{border-width: 0; background: #fb802d; color: #fff;}
.landing .btn-type:nth-child(2){margin-top: .57rem;}
.landing .util-menu{display: flex; flex-flow: row nowrap; justify-content: center; margin: 1.64rem 0 0;}
.landing .util-menu li{position: relative; padding: 0 1.35rem 0 1.5rem;}
.landing .util-menu li:before{content: ''; display: block; position: absolute; top: 1px; left: 0; width: .14rem; height: 16px; background: #dcdcdc;}
.landing .util-menu li:first-child:before{display: none;}
.landing .util-menu li a{font-size: .85rem; letter-spacing: -.04rem;}
.landing.total,
.landing.prepay{min-height: 100vh; box-sizing: border-box; margin: -6.28rem -1.71rem -1.71rem; padding: 6.28rem 1.71rem 1.71rem;}
.landing.total{background: #eee url(../images/common/img-intro-total@3x.png) center 22.07rem / 29.78rem auto no-repeat;}
.landing.total .desc{margin-bottom: 23.14rem;}
.landing.prepay{background: #eee url(../images/common/img-intro-prepay@3x.png) center 30.5rem / 20.57rem auto no-repeat;}
.landing.prepay .desc{margin-bottom: 18.07rem;}
.landing.prepay .desc small span{display: block; margin-bottom: .85rem;}
.landing.prepay .btn-single{background: #eee;}
.landing.inform li{text-align: center; padding: 2.85rem 0 2.71rem;}
.landing.inform li img{max-width: 100%;}
.landing.inform .desc{margin-bottom: 2.64rem;}
.landing.inform .desc strong{margin: -5px 2px 0; padding: 0;}
@media screen and (max-height:640px){
  .landing .desc{margin-top: 2.14rem;}
  .landing.total{background-position: center 20.64rem;}
  .landing.total .desc{margin-bottom: 16.64rem;}
  .landing.prepay{background-position: center 25.71rem;}
  .landing.prepay .desc{margin-bottom: 12rem;}
  .landing.prepay .desc small span{margin-bottom: 0;}
}