@charset "UTF-8";

@each $font-name in $font-face-custom {
    $font-path : $web-font-path + $font-name;

    @font-face {
        font-family: $font-name;
        src: url($font-path + '.woff') format('woff');
        font-style: normal;
        font-weight: normal;
    }
}