@charset "UTF-8";

@mixin font-family($type: null) {
    $font-name: null;

    @if($type == 'common') {
        $font-name: $font, map-get($fonts-default, font-name);
    } @else if($type == 'point') {
        $font-name: $font2;
    }
    font-family: $font-name;
}

@mixin font-face($font-name, $font-weight) {
    $font-path: $web-font-path + $font-name + $font-weight;

    @font-face {
        font-family: $font-name;
        src: url($font-path + '.woff') format('woff');
        font-style: normal;
        @include font-weight-convert($font-weight);
    }
}

//font-weight
@mixin font-weight-convert($font-weight) {
    @if ($font-weight == 'Thin' or $font-weight == '-Thin') {
        font-weight: 100;
    } @else if ($font-weight == 'Light' or $font-weight == '-Light') {
        font-weight: 200;
    } @else if ($font-weight == 'DemiLight' or $font-weight == '-DemiLight') {
        font-weight: 300;
    } @else if ($font-weight == 'Regular' or $font-weight == '-Regular') {
        font-weight: 400;
    } @else if ($font-weight == 'Medium' or $font-weight == '-Medium') {
        font-weight: 500;
    } @else if ($font-weight == 'SemiBold' or $font-weight == '-SemiBold') {
        font-weight: 600;
    } @else if ($font-weight == 'Bold' or $font-weight == '-Bold') {
        font-weight: 700;
    } @else if ($font-weight == 'ExtraBold' or $font-weight == '-ExtraBold') {
        font-weight: 800;
    } @else if ($font-weight == 'Black' or $font-weight == '-Black') {
        font-weight: 900;
    }
}